---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>I'm <b>Stefanus Ndaru</b></p>
			<h1 class="text-4xl/12 font-bold py-4 font-jakarta">Product <span class="text-blue-700">designer</span> and <span class="text-blue-700">engineer</span> for complex management system</h1>
			<p>
				Welcome to my personal repository. If you wish to learn more, please view my <a href="/blog">blog repository</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
